=render 'navbar'
.container-fluid
  #Contact_us_page
    %h3 Contact Us
  #information
    %p
      %a{:href => "mailto:binghamtonbikeshare@gmail.com"}Binghamton Bike Share Email
    %br
    %strong Eboard
    %ul
      %p 
        President - 
        %a{:href => "mailto:stracy1@binghamton.edu"}Shane Tracy
      %p 
        Vice President - 
        %a{:href => "mailto:msher1@binghamton.edu"}Markus Sher
      %p 
        Treasurer - 
        %a{:href => "mailto:hfriedm3@binghamton.edu"}Hallie Friedman
      %p 
        Projects Manager -  
        %a{:href => "kgoodwi2@binghamton.edu"}Kyle Goodwill
      %p 
        Outreach - 
        %a{:href => "mailto:jtoder1@binghamton.edu"}Jesse Toder
    %br
    %p
      %strong Check-Out Location: 
      Old Union Information
    %p
      %strong Check-Out Times: 
      Everyday 12:00pm-8:00pm
    %hr
    %p
      %strong Want to join Bike Share club?
    %p Meetings are Mondays at 9:15 PM in APP 111
    %p Come by to see how it works behind the scenes and leave a lasting impact on Binghamton University
    %hr