=render 'navbar'
.container-fluid
  %h3 How It Works
  %p 1. Sign out a free bike at the Old Union Info Desk. You will be issued a key with a number on it.
  %br
  %p 2. Walk out of the Union to the fron of the Engineering Building. You will see 2 bike racks under the overhang with our bikes on them.
  %br
  %p 3. Find the bike with the same number found on your key, and unlock it.
  %br
  %p 4. Enjoy your free bike for a maximum of 4 hours. Available times are from 12pm to 8pm.
  %br
  %p 5. Return the bike to our rack when you are done. Make sure it is properly locked up.
  %br
  %p 6. Return the key to the Old Union Info Desk and sign the bike back in.
  %hr
  %h3 Policies
  %p The Bike share is a free student service available to anyone with a BU ID! With that said, we would like to see it run smoothly and free of abuse! Please follow our policies listed below to keep the Bike Share an exciting, feel-good experience for everyone!
  %br
  %p 
    %strong Hours: 
  %p The Bike Share hours are from 12pm to 8pm everyday. All bikes must be back by 8pm so our maintenance team can check them for damage and make repairs.
  %br
  %p
    %strong Time Limit: 
  %p After signing a bike out, the bike is yours for up to 4 hours! If you would still like to ride the bike, you may sign it out again at the Info Desk. Please understand that all bikes must be back by 8pm when our program closes for the night!
  %br
  %p 
    %strong Lock It Up: 
  %p Never leave an unlocked bike unattended. If you walk away from the bike, please lock it to a bicycle rack. The lock should go through the bike frame to prevent theft. When you return the bike, please lock it to our rack.
  %br
  %p
    %strong Damage: 
  %p If you notice any damage to the bike, please contact us as soon as possible so we can repair it.
  %br
  %p Thank you for abiding by our rules. We hope you enjoy our program!
