%head
  %title Welcome to Bike Share
  //%link{ :rel => "stylesheet", :type => "text/css", :href => "../../dist/css/bootstrap.css"}
  //%script{ :type => "text/javascript", :src => "../../dist/js/bootstrap.js"}
%body
  %nav.navbar.navbar-default
    .container-fluid
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      %button{:type=>"button", :class=>"navbar-toggle collapsed", "data-toggle" =>"collapse", "data-target" =>"#bs-example-navbar-collapse-1"}
        %span{:class => "sr-only"}Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:class => "navbar-brand", :href => "#"}BUBS

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li.active
          %a{:href => "#"}
            What is Bike Share?
            %span.sr-only (current)
        %li
          %a{:href=>"#"}How It Works
        %li.dropdown
          %a{:href => "#", :class=>"dropdown-toggle", "data-toggle" =>"dropdown", :role=>"button", "aria-expanded" =>"false"}
            Bike Shop
            %span.caret
          %ul{:class=>"dropdown-menu", :role=>"menu"}
            %li
              %a{:href=>"#"}Request Repair Help
            %li
              %a{:href=>"#"}Contact Our Shop
        %li
          %a{:href=>"#"}Contact Us
        %li
          %a{:href=>"#"}Resources
      %form{:class=>"navbar-form navbar-right", :role=>"search"}
        .form-group
          %input{:type=>"text", :class=>"form-control", :placeholder=>"Search"}
        %button{:type=>"submit", :class=>"btn btn-default"}Submit