= render 'navbar'
.container-fluid
  %h3 The Vision
  .col-md-6
    %p Our team's vision is a campus where cycling is an easy, simple, and convenient means of transportation.
    %p We envision a Bike Share program where free bikes can be borrowed all over campus. The Bike Share has seen a tremendous support from all over campus, with hundreds of hours of use. We hope that our team's progress means less bikes will rust away outside the lecture hall with no one coming back for them.
    %P Happy Cycling!
  .col-md-6
    %button.btn.btn-primary.btn-lg.btn-block Sign-In
    %button.btn.btn-primary.btn-lg.btn-block Register
