= render 'navbar'
%h2 Join the Team!
%p Interested in helping out at the bike shop?! Want to find out how to help run the bike share from behind the scenes?! Come to our next meeting to make a lasting impact on campus!!
%h4 Meeting Times are:
%p Mondays at 9:15 PM in APP 111
= image_tag( 'Bike_Share_Team.jpg')
%p The Bike Share Team in Spring 2014
  