=render 'navbar'
.container-fluid
  %h3 Make Appointments

<br><br>

<body>

<form action="submited_appointment" method="GET">
&nbsp;&nbsp;&nbsp;&nbsp;Name:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="name">
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Email:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="email">
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Date of Appointment Wanted:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="date" min="2015-01-01" max="2100-12-31">
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Time of Appointment Wanted:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<select name="time">
<option value="default">Pick a Time</option>
<option value="11:00AM">11:00AM</option>
<option value="11:30AM">11:30AM</option>
<option value="12:00PM">12:00PM</option>
<option value="12:30PM">12:30PM</option>
<option value="1:00PM">1:00PM</option>
<option value="1:30PM">1:30PM</option>
<option value="2:00PM">2:00PM</option>
<option value="2:30PM">2:30PM</option>
<option value="3:00PM">3:00PM</option>
<option value="3:30PM">3:30PM</option>
<option value="4:00PM">4:00PM</option>
</select>
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;Problem with Bike:<br>
&nbsp;&nbsp;&nbsp;&nbsp;<textarea name="problem" rows="10" cols="30">
</textarea>
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Submit">
&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Reset">
</form>

</body>
