=render 'navbar'
.container-fluid
  %h3 Email Sent!

<br><br>
<body>
&nbsp;&nbsp;&nbsp;&nbsp;You will recieve an email from us soon confirming your request!
<br><br>

<form action="view_appointments_month">
&nbsp;&nbsp;&nbsp;&nbsp;<button>Return to View Appointments Page</button>
</form>


</body>
